div.boxcontent{
    text-align: center;
}

img.logos {
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    vertical-align: middle;
}


//companies

//platinum
img.microsoft {
    width:60%;
}

//gold +
img.IF {
    width:32%;
}

//gold 
img.td {
    width:15%;
}

//silver

//copper

//base

//partners
img.mlh {
    width:25%;
}
img.maceng {
    width:25%;
}
img.mes {
    width:25%;
}


//Not Determined
img.rbc {
    width:11%;
}
img.cibc {
    width:14%;
}
